{% extends 'stepshop/base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row basket_list">
                {% include 'basketapp/includes/inc_basket_list.html' %}

<!--                <table class="table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th scope="col">#</th>-->
<!--                        <th scope="col">Продукт</th>-->
<!--                        <th scope="col">Количество</th>-->
<!--                        <th scope="col">Стоимость</th>-->
<!--                        <th scope="col">Удалить</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    {% for item in basket %}-->
<!--                    <tr>-->
<!--                        <th scope="row">{{ forloop.counter }}</th>-->
<!--                        <td>{{ item.product }}</td>-->
<!--                        <td>-->
<!--                            <input type="number"-->
<!--                                   name="{{ item.pk }}"-->
<!--                                   min="0"-->
<!--                                   value="{{ item.quantity }}">-->
<!--                        </td>-->
<!--                        <td>${{ item.product.price }}</td>-->
<!--                        <td>-->
<!--                            <a href="{% url 'basket:remove' item.pk %}">-->
<!--                                <i class="fa fa-trash"></i>-->
<!--                            </a>-->
<!--&lt;!&ndash;                            <button class="btn btn-round">&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="{% url 'basket:remove' item.pk %}">Удалить</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </button>&ndash;&gt;-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                    </tbody>-->
<!--                </table>-->

<!--                <div class="basket_summary">-->
<!--                    <div>Общее количество товаров: <strong>{{ basket.0.total_quantity }} шт.</strong></div>-->
<!--                    <div>Общая стоимость: <strong>${{ basket.0.total_cost }}</strong></div>-->
<!--                </div>-->

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{% static 'basketapp/js/script.js' %}"></script>
{% endblock %}