{% extends 'stepshop/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Single Starts Here -->
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Продукт</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-slider">
              <div id="slider" class="flexslider">
                <img src="
                          {% if product.image %}
                          {{ product.image.url }}
                          {% endif %}
                         " alt="{{ product.name }}" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{ product.name }}</h4>
              <h6>${{ product.price }}</h6>
              <p>{{ product.description }}</p>


              {#% if user.is_authenticated %#}
              <div class="main-button">
                <a href="{% url 'basket:add' product.pk %}">Заказать</a>
              </div>
              {#% else %#}
<!--              <div class="btn btn-secondary">-->
<!--                <a href="{% url 'basket:add' product.pk %}">Заказать</a>-->
<!--              </div>-->
              {#% endif %#}

              <div class="down-content">
                <div class="categories">
                  <h6>Категория: <span>
                    <a href="{% url 'products:category' product.category.pk %}">
                      {{ product.category }}
                    </a>
                  </span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->


    <!-- Similar Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Похожие продукты</h1>
            </div>
          </div>

          <div class="col-md-12">
            <div class="owl-carousel owl-theme">

              {% for product in same_products %}
              <a href="{% url 'products:product' product.pk %}">
                <div class="featured-item">
                  <img src="{{ product.image.url }}" alt="{{ product.name }}">
                  <h4>{{ product.name }}</h4>
                  <h6>${{ product.price }}</h6>
                </div>
              </a>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Similar Ends Here -->
{% endblock %}