{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="mx-auto col-3">
        <div>
            Уверенны, что хотите удалить <strong>{{ user_to_delete.username }}</strong>

            {% if user_to_delete.first_name %}
                ({{ user_to_delete.first_name|title }}
                    {% if user_to_delete.last_name %}
                        {{ user_to_delete.last_name|title }}
                    {% endif %})?
            {% endif %}
        </div>
        <form action="{% url 'admin_staff:user_delete' user_to_delete.pk %}" method="post">
            {% csrf_token %}
            <input class="form-control" type="submit" value="Удалить">
        </form>
        <button class="btn btn-round form-control last">
            <a href="{% url 'admin_staff:users' %}">Отмена</a>
        </button>
    </div>
{% endblock %}